<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon2.ico">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/6cd0737a04.js" crossorigin="anonymous"></script>
    <!-- FontAwesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
  
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <!-- google fonts -->
  
  
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <title>Product Detail</title>
    <link rel="stylesheet" href="css/product_details.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark">
    
            <a class="navbar-brand" href=" ">SavvyShopper</a>
        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
        <div class="navbar-collapse justify-content-end" id="navbarTogglerDemo01">
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#comparison">Comparison</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Contact Us</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="Accountid" href="/login"> <i id="accountIcon" class= " <%= accounticon %> " > </i> <%= accountname %></a>
              </li>
            </ul>
        </div>
        </nav>

        <h2 id="heading">Price and Details of Searched Product</h2>
        <hr>
    <section id="product">


        <div class="product-image">
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/one.jpg" class="d-block w-100" alt="Product Images">
                  </div>
                  <div class="carousel-item">
                    <img src="images/two.jpg" class="d-block w-100" alt="Product Images">
                  </div>
                  <div class="carousel-item">
                    <img src="images/three.jpg" class="d-block w-100" alt="Product Images">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon changeicon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon changeicon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="product_details">
                <h2 id="pro-head">Product Details</h2>
                <hr id="pro-hr">

                <div class="detail-container">
                    <div class="items detail-tag">Price For :</div>
                    <div class="items detail-info">1 Piece</div>
                    <div class="items detail-tag">MRP/Unit:</div>
                    <div class="items detail-info">₹144,424.00</div>
                    <div class="items detail-tag">Offer Price/Unit:</div>
                    <div class="items detail-info">₹12,998.16</div>
                    <div class="items detail-tag">Availability:</div>
                    <div class="items detail-info"><i class="fa-solid fa-circle-check correct"></i> 11 In Stock</div>
                    <div class="items detail-tag">Min. Qty. Per Consignee:</div>
                    <div class="items detail-info">4</div>
                    <div class="items detail-tag">Product id:</div>
                    <div class="items detail-info">5116877-85204777223</div>
                    <div class="items detail-tag">Country Of Origin:</div>
                    <div class="items detail-info">India</div>
                </div>
            </div>

            <div class="product_details">
                <h2 id="pro-head">Seller Details</h2>
                <hr id="pro-hr">

                <div class="detail-container">
                    <div class="items detail-tag">Sold by:</div>
                    <div class="items detail-info">Resellers</div>
                    <div class="items detail-tag">OEM verified Reseller</div>
                    <div class="items detail-info"><i class="fa-solid fa-circle-check correct"></i> </div>
                    <div class="items detail-tag">OEM verified catalogue</div>
                    <div class="items detail-info"><i class="fa-solid fa-circle-check correct"></i> </div>
                    <div class="items detail-tag">Seller Excellence</div>
                    <div class="items detail-info"> 
                        <div class="seller-rating">
                            4.0 - 4.5 <i class=" star fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product_details">
                <h2 id="pro-head">Specifications</h2>
                <hr id="pro-hr">

                <div class="detail-container">
                    <div class="items detail-tag">Processor Description</div>
                    <div class="items detail-info">Intel Core i7 1255U</div>
                    <div class="items detail-tag">Operating System</div>
                    <div class="items detail-info">Windows 11 Professional</div>
                    <div class="items detail-tag">RAM Size(GB)</div>
                    <div class="items detail-info">16</div>
                    <div class="items detail-tag">SSD Capacity(GB)</div>
                    <div class="items detail-info">1024</div>
                    <div class="items detail-tag">Display Size</div>
                    <div class="items detail-info">15.6 inch</div>
                    <div class="items detail-tag">Battery Warranty</div>
                    <div class="items detail-info">3 years</div>
                    <div class="items detail-tag">On Site OEM Warranty</div>
                    <div class="items detail-info">4</div>
                </div>
            </div>

        </div>
        <div class="product-desc">
            <h2 id="productname">hp Intel Core i7 15.6 Inch Laptop ( Windows 11 Professional )</h2>
            <h3 id="extradesc">(HP 250 G9 i7 1255U 16134 wifi MS Office 15.6")</h3>
            <h3 id="price">₹ 12,998.16</h3>

            <div class="price-comparison">
                <h3 id="price-title">Price on different E-MarketPlaces</h3>
                <div class="price-on-gem least-price">
                    <h2 id="gem-heading">hp Intel Core i7 15.6 Inch Laptop ( Windows 11 Professional )</h2>
                    <div class="gem-detail">
                        <h2 id="gem-price">₹ 12,998 </h2>
                        <img id="gem-logo" src="images/gem.png" alt="Gem Image">
                        <button type="button" class="btn btn-outline-danger">Visit GeM</button>
                    </div>
                </div>
                <div class="price-on-gem">
                    <h2 id="gem-heading">HP OMEN 11th Gen Intel Core i7-11800H 16.1 inches(40.8cm)</h2>
                    <div class="gem-detail">
                        <h2 id="gem-price">₹ 47,500 </h2>
                        <img id="gem-logo" src="images/amazon.png" alt="AmazonImage">
                        <button type="button" class="btn btn-outline-danger">Visit Amazon</button>
                    </div>
                </div>
                <div class="price-on-gem">
                    <h2 id="gem-heading">HP 15s Intel Core i7 11th Gen - (8 GB/512 GB SSD/Windows 11 Home) 15S-FQ5202TU </h2>
                    <div class="gem-detail">
                        <h2 id="gem-price">₹ 56,998 </h2>
                        <img id="gem-logo" src="images/flipkart.png" alt="Gem Image">
                        <button type="button" class="btn btn-outline-danger">Visit Flipkart</button>
                    </div>
                </div>
            </div>

            <div class="pro-graph">
                <h3 id="graph-heading">Product Price Variation</h3>
                <img id="graph-pic" src="images/graph.jpg" alt="Graph">
            </div>

        </div>
    </section>  
    
<!-- Comparison -->

    <section id="comparison-section">
        <div class="comparison-title">
            Comparison of Your Product with Similar Items
        </div>
        <table class="table table-light table-striped">
            <thead>
              <tr>
                <th scope="col">Websites</th>
                <!-- <th scope="col"> <img src="images/amazon.png" alt="logo">Amazon</th>
                <th scope="col"><img src="images/gem.png" alt="logo">GeM</th>
                <th scope="col"><img src="images/flipkart.png" alt="logo"> Flipkart</th> -->
                <th scope="col">Amazon</th>
                <th scope="col">GeM</th>
                <th scope="col">Flipkart</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Price</th>
                <td id="price-tag">₹ 74,990</td>
                <td id="price-tag">₹ 25,459</td>
                <td id="price-tag">₹ 57,899</td>
              </tr>
              <tr>
                <th scope="row">Customer Ratings</th>
                <td id="star-rating">4.3 <i class="ratingstar star fa-solid fa-star"></td>
                <td id="star-rating">4.0 - 4.5 <i class="ratingstar star fa-solid fa-star"></td>
                <td id="star-rating">3.7 <i class="ratingstar star fa-solid fa-star"></td>
              </tr> 
              <tr>
                <th scope="row">Processor</th>
                <td>Intel Core i5 1730U</td>
                <td>Intel Core i7 1255U</td>
                <td>Intel Core i7 1150P</td>
              </tr>
              <tr>
                <th scope="row">RAM</th>
                <td>16 GB DDR3</td>
                <td>16 GB DDR4</td>
                <td>16 GB DDR4</td>
              </tr>
              <tr>
                <th scope="row">Display</th>
                <td>15.7 inches</td>
                <td>15.6 inches</td>
                <td>15.3 inches</td>
              </tr>
              <tr>
                <th scope="row">SSD Size</th>
                <td>15.7 inches</td>
                <td>15.6 inches</td>
                <td>15.3 inches</td>
              </tr>
              <tr>
                <th scope="row">Hard Disk Size</th>
                <td>512 GB </td>
                <td>NA</td>
                <td>NA</td>
              </tr>
              <tr>
                <th scope="row">Graphic Card</th>
                <td>Nvidia RTX 3050 TI</td>
                <td>NA</td>
                <td>Nvidia RTX 1750 RX</td>
              </tr>
              <tr>
                <th scope="row">Warranty years</th>
                <td> 2 Years</td>
                <td> 1 Years</td>
                <td> 2 Years</td>
              </tr>
        
            </tbody>
          </table>
    </section>

    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h5>&copy; 2023 ShavvyShopper, Inc. All rights reserved.</h5>
                    <div class="row">
                        <div class="col-4">
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                <li><a href="/#testimonials">Reviews</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="list-unstyled">
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/#pricing">Pricing</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                          <ul class="list-unstyled">
                              <li><a href="/#e-tender-sites">E-Tender Sites</a></li>
                          </ul>
                      </div>
                    </div>
                    <br>
                </div>
  
                <div class="col-md-5">
                  <h5 class="text-md-right">Contact Us</h5>
                    <form>
                      <p>Message Your query at our mail below and directly contact us at <a href="mailto:shavvyshopper@gmail.com">Shavvyshopper@gmail.com</a>.</p>
                    </form>
                </div>
                <ul class="nav social-icon border-bottom">
                  <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-brands fa-linkedin"></i></a></li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
              </ul>
            </div>
        </div>
    </footer>
  
</body>
</html>